

#slider{
	background-image: url(./01.jpg);
	height: 600px;
	width: 100%;
	background-size: cover;
	text-align: center;
}
.head{
	background-color: rgba(0,0,0,0.6);
	height: 600px;
}
.head h1{
	padding-top: 200px;
	
}
.head p{
	color: white;
}
.btn1{
	color: white;
	border-radius: 4px;
	background-color: tomato;
	border-color:  blue;
}
.btn2{
	border-color: red;
	color: white;

}
.btn1:hover{
	background-color: white;
	color: black;
	border-color: black;
}
.btn2:hover{
	
	color: black;
	border color:  black ;
}
.sec2 {
	text-align: center;
	padding-top: 20px
	
}
.sec2 p{
	color: blue
}
.childs{
	padding-top: 30px
}
.childs img{
	height: 300px;
	width: 300px;
}

.childs button{
	background-color: red;
	border-radius: 7px;
	height: 40px;
	color: white;
}


